.poko {
    width: 30%;
}
.head{
}
.pl_size{
    width: 6vw;
}
.player {
    position: fixed;
}
.maxpoint{
    position: fixed;
}

.body {
    display: flex;
    position: fixed;
    top: 40%;
}

.GAMEOVER{
    font-size: 300%;
    font-family: "UD デジタル 教科書体 NP-B","UD Digi Kyokasho NP-B";
}
.RESTART{
    color: rgb(255, 255, 255);
    size: 100%;
}
.comm{
    text-align: center;
}
.playcount{
    text-align: right;
    font-family: "UD デジタル 教科書体 NP-B","UD Digi Kyokasho NP-B";
}
